body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #777;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
    color: #555;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}
.prev, .next {
    display: none;
}
.question {
    font-size: 1.5em;
    text-align: center;
    color: #555;
    margin-bottom: 10px;
}

/* Your existing CSS styles */

/* Your existing CSS styles */

.testimonial-container {
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: device-width;
    display: flex;
    height: 1vh;
    flex-wrap: nowrap;
    left: 50%;
}

.testimonial {
    height: 12vh;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
    width: device-width;
}

.testimonial img {
    max-width: 80%;
    max-height: 50vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.selected {
    color: #00d9ff;
    font-weight: bolder;
   }