body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}/* hi */

nav {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #777;
}

.container {
    max-width: 100%;
    margin-bottom: 0%;
    padding: 20px;
    background-color: #a8a4b8;
}

.title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
    color: #555;
}

.border {
    text-align: center;
    margin-bottom: 4%;
    color: #555;
    font-size: 1000%;
    text-wrap:nowrap;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}
.prev, .next {
    display: none;
}
.question {
    font-size: 1.5em;
    text-align: center;
    color: #555;
    margin-bottom: 10px;
}



.testimonial-container {
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    size: 100%;
    height: 50px;
    display: flex;
    flex-wrap:nowrap;
    left: 50%;
    right: 50%;
}

.testimonial {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 18px 18px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap:pretty;
    width: 50%;
}

.testimonial img {
    max-width: 80%;
    max-height: 50vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
 .selected {
    color: #00d9ff;
    font-weight: bolder;
   }

   body {
    font-family: sans-serif, fira-mono;
    margin: 0;
    padding: 0;
    background-color: #cab9b9;
}

.project-title{
    /* margin-bottom: 5%; */
    text-align: center;
    font-size: 500%;
    color: #f1f1f1;
    text-wrap:balance;
    width: 100%;
}
.project {
    max-width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}
.wcontainer {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Fira Mono', monospace;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
} 
.icon {
    width: 100%; 
    height: 400px; 
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.description {
    color: #fff;
    font-size: 250%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.icon .text-overlay {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 500%;
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 5px;
}

.backbutton {
    font-family: 'Fira Mono', monospace;
    font-size: 600%;
    font-weight:bold;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    cursor:pointer;
    text-align: center;
    width: 150px;
    padding: 0px;
    height: 150px;
}
.backbutton:hover {
    font-weight:bolder;
    color: #ffffff;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);

}
.selected {
    color: #00d9ff;
    font-weight: bolder;
   } 
